<div class="list__container">
  <% @recipes.each do |recipe| %>
    <div class="list__item mb-4">
      <!--レシピに登録した画像のうち、検索された一つ目を表示-->
      <% if recipe.images.any? %>
          <%= link_to  recipe_path(recipe) , class: "list__img" do  %>
            <%= image_tag recipe.images[0], format: 'jpeg',fallback: "no-image.jpg", size:'150x150' %>
          <% end %>
      <% end %>
      <div class="list__detail">
        <span class="timestamp"><%= recipe.created_at.to_s(:datetime_jp) %></span><br>
        <%= link_to recipe.title, recipe_path(recipe), class: 'list__recipetitle' %>
        <div class="list__introduction"><%= recipe.introduction %></div>
      </div>
      <div class="list__info">
        <div id="recipe_<%= recipe.id %>">
          <%= render "public/recipes/bookmark", recipe: recipe %>
        </div>
        <%= link_to recipe.user.name, user_path(id: recipe.user_id), class: "list__user-name" %>
      </div>
    </div>
  <% end %>
</div>