<div class=container>
  <div class='row justify-content-center mx-auto'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    <h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, id:"new_user", local: true do |f| %>

  <%= render "layouts/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "お名前" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ニックネーム" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上　半角で英文字(大小)・数字を1文字ずつ)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
  </div>

  <div class="field mb-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）" %>
  </div>

  <div class="actions mb-2">
    <%= f.submit "登録する" ,class: "btn btn-success w-25" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

</div>