<%= render 'public/shared/flash' %>
<main>
  <%= form_with(model: @recipe, local: true) do |f| %>

  <div class="introduction">
    <div class="introductionn__inner">
      <div class="introduction__img-field">
        <div class="cooking-title mb-4">写真</div>
          <label class="img-file">
            <%= image_tag 'add_a_photo', class:"add-photo-btn"%>
            <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", class: "image" %>
          </label>

      </div>
      <div class="introduction__forms">
        <div class="cooking-title mt-2">レシピについて</div>
        <div class="introduction__inputBx">
          <%= f.text_field :title, placeholder: "レシピ名(50文字以内)", class: "form-control" %><br>
          <%= f.text_area :introduction, placeholder: "レシピの説明(140字以内)", class: "form-control", size:"80%" %>
        </div>
        <div class="cooking-title mt-2">材料・分量</div>
        <div class="material__inputBx">
          <%= f.text_area :material, placeholder: "材料・分量(200文字以内)", class: "form-control" %>
          <% %>
        </div>
      </div>
    </div>
  </div>


  <div class="cooking-title mt-2">関連タグ</div>

  <section class="tag">
    <div class="tag__container">
        <%= f.text_field :tag_name, class:"form-control-tag", placeholder: '1つのタグは10字以内にしてください' %>
        <p>タグは","で区切ると複数タグ登録できます</p>
    </div>
  </section>



  <div class="cooking-title mt-2">作り方</div>
  <div class="flow__inputBx">
    <%= f.text_area :flow, placeholder: "作り方・手順(350文字以内)", class: "form-control", size:"80%"%>
    <% %>
  </div>


  <div class="cooking-title mt-2">コツ・ポイント</div>
  <div class="advise__inputBx">
    <%= f.text_field :advise, placeholder: "コツ・ポイント(100文字以内)", class: "form-control", size:"80%" %>
    <% %>
  </div>

  <div class="submit"><%= f.button "投稿する" , class:"btn btn-outline-primary pl-3 mt-2"%></div>
  <% end %>
</main>