<div class="cooking-title">
  <% if @search.present? %>
    「<%= @search %>」の検索結果
  <% else %>
    検索結果
  <% end %>
</div>
<section class= "list">
  <%= render 'public/shared/recipe_search' %>
  <div class= "result-list" style="box-sizing: border-box">
    <%= render 'public/shared/recipe_list' %>
    <%= paginate @recipes %>
  </div>
    <div class="cancel"><%= link_to 'レシピ一覧に戻る', recipes_path, class:"btn cancel-btn"%></div>

</section>