<main>
  <div class = "container">
    <div class = "cooking-title">
      <h3>レシピの詳細</h3>
    </div>
      <div class = "row ml-5">
      <div class = "col-11 ml-3">
        <div class="introduction__img-field">
          <div class="my-1">
            <% if @recipe.images.any? %>
              <%# @recipe.images.each do |image|%>
              <%#= image_tag image , size:'150x150',class:"card-icon" %>
              <%# end %>
              <%= image_tag @recipe.images[0], format: 'jpeg',fallback: "no_image.jpg", size:'150x150', class: "card-icon-recipe" %>
            <%# else%>
              <%#= image_tag "no_image.jpg", size: "150×150", class: "card-icon-recipe" %>
            <% end %>
          </div>
        </div>

        <div class="introduction__texts">
          <div class="text-center detail-font">
            <p>レシピ名：<%= @recipe.title %></p>
            <div class="introduction__detail">
            <p><%= @recipe.introduction %></p>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class = "row ml-5">
      <div class = "col-11 ml-3">
          <!--投稿日時とブックマーク-->
          <div class  = "text-muted recipe-header py-1">
            <%= link_to @recipe.user.nickname, user_path(@recipe.user.id), class: "link text-muted"%>さんが
            <%= @recipe.user.created_at.strftime("%Y年%m月%d日") %>に投稿

            <div id="recipe_<%= @recipe.id %>" >
              <%= render "public/bookmarks/bookmark", recipe: @recipe %>
            </div>
          </div>

     </div>
      </div>

      <div class = "row ml-5">
      <div class = "col-11 ml-3">

          <div class="recipeuser py-2">
            <div class="cooking-title">ユーザープロフィール</div>
            <div class="recipeuser__inner">
              <div class="recipeuser__img">
                <%= link_to user_path(id: @recipe.user_id) do %>
                  <%= image_tag @recipe.user.image, size:'150x150', class: "rounded-circle" %>
                <% end %>
              </div class="recipeuser__edit">
              <%= link_to @recipe.user.name, user_path(id: @recipe.user_id), class:"recipeuser__name" %><br>
              <% if user_signed_in? && @recipe.user == current_user %>
                <%= link_to 'レシピ編集', edit_recipe_path, class:"btn recipe-edit-btn" %>
              <% end %>
            </div>
          </div>

        </div>
        </div>

        <div class = "row ml-5">
        <div class = "col-11 ml-3">
            <div class = "recipe-text rounded-lg border-dark">
                <div class="cooking-title">材料</div>
                <div class="material__ul">
                  <p></p>
                  <div><%= @recipe.material %></div>
                </div>

                <div class="cooking-title mt-3">関連タグ</div>
                  <div class="tag__container">
                    <p></p>
                    <% if @recipe.tags.empty? %>
                      <p class="tag__none">関連タグが設定されていません</p>
                    <% else %>
                      <% @recipe.tags.each do |tag| %>
                        <%= render_with_tags(tag.name, tag.id) %>
                      <% end %>
                    <% end %>
                    <p></p>
                  </div>
            </div>

              <div class="cooking-title">作り方</div>
                <div class="step__item">
                    <div class="step__content">
                      <p></p>
                      <div class="step__description"><%= @recipe.flow %></div>
                    </div>
                </div>


              <div class = "recipe-text rounded-lg border-dark mt-3">
                <div class="cooking-title mt-3">コツ・ポイント</div>
                <div class="advise__content">
                  <p></p>
                  <div><%= @recipe.advise %></div>
                </div>
              </div>
        </div>
        </div>

              <!--☆評価-->
              <div class = "d-flex float-right">
                  <%= render "public/recipes/rate", score: @recipe.avg_score %>
                  <div class = "mt-1 mr-3"><%= @recipe.avg_score %>点</div>
              </div>
              <!--コメント欄-->
              <div id="comments_area" class = "py-5" >
                    <% if user_signed_in? %>
                      <%= render "public/comments/form", comment: @comment %>
                    <% end %>
              </div>
              <!--レビュー限定 ☆評価とコメントはセットで行う-->
              <div class="w">
                <div id="comments_index" class = "py-5" >
                  <%= render 'public/comments/index', comments: @comments, recipe: @recipe %>
                </div>
              </div>
            </div>
        </div>

  </div>

</main>