<main>

  <section class="introduction">
      <div class="container ml-3">
      <div class="introduction__inner">
        <div class="introduction__img">
          <%= image_tag 'DISH×RECIPE.png' %>
        </div>
        <div class="introduction__texts">
          <div class="introduction__texts-inner">
            <div class="introduction__title main-title">
              Torioki Recipe♪
            </div>
            <div class="introduction__sub sub-title">
              楽しく料理レシピで交流しよう
            </div>
            <div class="introduction__description">
              <p>料理ができない、苦手な方<br>毎日の料理作りをサポートします。</p>
              <p>料理のレシピを通して、お気に入りの料理やノウハウを探し集めよう</p>
            </div>
          </div>
      </div>
      </div>
      </div>
  </section>

  <section class="list">
    <div class="subheader">
      <div>
        <p class="main-title">What's New?</p>
        <p class="sub-title">新しいレシピを見つけよう　　>>>>>
        <%= link_to " もっと見る ", recipes_path %>
        </p>
      </div>
    </div>

    <div class="list__container">
      <% @recipes.each do |recipe| %>
        <div class="list__item mb-4">
          <% if recipe.images.any? %>
          <%= link_to  recipe_path(recipe) , class: "list__img" do  %>
            <%= image_tag recipe.images[0] %>
          <% end %>
          <% end %>
          <div class="list__detail">
            <!--<span class="timestamp"><%#= recipe.created_at.to_s(:datetime_jp) %></span><br>-->
            <%= link_to recipe.title, recipe_path(recipe), class: 'list__recipetitle' %>
            <div class="list__introduction"><%= recipe.introduction %></div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

</main>