<!DOCTYPE html>
<html>
  <head>
    <title>Torioki_Recipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--CSSを読み込む-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--javascriptを読み込む-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--FontAwesomeを読み込む-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <!--Fontを読み込む-->

  </head>

  <body>
    <div id="container">
      <div class="nav-trigger"></div>
        <%= render 'public/shared/header' %>
          <div class="main-top">
          <%= yield %>
        <%= render 'public/shared/footer' %>
      </div>
    </div>
  </body>
</html>
